*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: #FFF8F3;
    background-image: url("/images/header_bg.png"), url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* header and navigation styles */
.btn-primary{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    height: 64px;
    padding: 18px 35px;
    border: 0;
    border-radius: 5px;
    background-color: #FD6E0A;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li{
    list-style: none;
    margin-left: 50px;
}

nav ul{
    display: flex;
    align-items: center;
}

.nave-title{
    font-weight: 800px;
    font-size: 900px;
    /* line-height: 61px; */
}

.text-primary{
    color: #FD6E0A;
}

/* banner */
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.ban-title{
    font-weight: 700;
    font-size: 85px;
}

.ban-sub-title{
    margin-top: 20px;
    font-weight: 600;
    font-size: 45px;
    /* background-color: blue; */
}

.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    width: 558px;

}

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section style */
.about{
    text-align: center;
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 131px 157px;
}

.resume-btn{
    margin-top: 50px;
    text-align: center;
}

.section-title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
}

.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* about information */
.about-info-container{
    display: flex;
    justify-content: space-around;
    
}

.about-info{
   
}

.info-title{
     color: #757575;
    font-size: 20px;
}

.info-description{
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}

/* skillWhat I do style */
.skills-container{
    display: flex;
    gap: 24px;

}

.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 50px;
}

.skill-title{
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description{
    color: #474747;
    font-size: 16px;
}

/* resume styles */
.resumr-content{
    display: flex;
    gap: 24px;
}

.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-title{
    font-size: 30px;
}

.resume .title{
    color: #474747;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}
.resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.resume .description{
    color: #757575;
    font-size: 16px;
}